{% if albums %}
    <table id="wuvt-table">
        <tr>
            <th>Artist</th>
            <th>Album</th>
            <th>Label</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Stack</th>
        </tr>
        {% for album in albums %}
        <tr class="{% cycle 'row-odd' 'row-even' %}">
            <td><a href="/library/artist/{{ album.artist.name|urlencode }}">{{ album.artist.name }}</a></td>
            <td><a href="/library/album/{{ album.name|urlencode }}/artist/{{ album.artist.name|urlencode }}">{{ album.name }}</a></td>
            <td>{{ album.label.name }}</td>
            <td>
            {% if album.date_released.year > 1000 %} <!-- -->
                {{ album.date_released.year }}
            {% else %}
                N/A
            {% endif %}
            </td>
            <td>{% for genre in album.genres.all %}{% if not forloop.first %}, {% endif %}{{ genre }}{% endfor %}</td>
            <td>{{ album.stack.name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}