{% extends "base.html" %}

{% block header_main %}Album{%endblock%}
{% block header_sub %}
    {% if album %}
        {{ album.artist.name }} - {{ album.name }}
    {% endif %}
{% endblock %}

{% block header_image %}
    {% if album_art %}
        <img src="{{ album_art }}" />
    {% else %}
        {% if 'vinyl' in album.stack.name or 'Vinyl' in album.stack.name %}
            <img src="{{ STATIC_URL }}novinylart.png" />
        {% else %}
            <img src="{{ STATIC_URL }}nocdart.png" />
        {% endif %}
    {% endif %}
{% endblock %}

{% block navigation_items %}
    {% if album %}
        <li><a href="/library/artist/{{ album.artist.name|urlencode }}">{{ album.artist.name }}</a></li>
        <li><a href="/library/album/{{ album|urlencode }}/artist/{{ album.artist.name|urlencode }}">{{ album }}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <table id="wuvt-table">
        <tr>
            <th>#</th>
            <th>Track Title</th>
        </tr>
        {% for song in songs %}
            <tr class="{% cycle 'row-odd' 'row-even' %}">
                <td width="2">{{ forloop.counter }}</td>
                <td>{% if song.fcc %}<span class="fcc">FCC</span> {% endif %}{{ song.name }}</td>
            </tr>
        {% empty %}
            {% for error in errors %}
                <tr class="{% cycle 'row-odd' 'row-even' %}">
                    <td>Error {{ song.track_num }}</td>
                    <td>{{ error }}</td>
                </tr>
            {% empty %}
                <tr class='row-odd'>
                    <td>No tracks found on Last.fm</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}

{% block errors %}
{% endblock %}
