{% extends "base.html" %}

{% block script %}
<script>
function toggleFaq() {
	$('#faq').toggle();
}

/*
 * demoSearchObject { song: '', artist: '', etc.}
 */
function demoForm(demoSearchObject) {
	var form = $('form#search')[0];
	form.reset();
	for (var key in demoSearchObject) {
		if (demoSearchObject.hasOwnProperty(key)) {
			$('form#search input[name="' + key + '"]').val(demoSearchObject[key]);
		}
	}
	form.submit();
	
	return true;
}

</script>
{% endblock %}

{% block header %}
    <h2>WUVT Library Database Search</h2>
{% endblock %}

{% block content %}
    <p>Fill in any of the fields below to search for an album.</p>
    <p><a href="#" onclick="javascript: toggleFaq()">Click here for help.</a></p>
    <div id="faq" style="display: none;">
        <h3>Album listings</h3>
        <p>To get a list of all of the albums that WUVT has by a particular artist, click on their name in the search results. For example, <a href="/library/artist/David%20Bowie">David Bowie</a></p>
        <p>To get a list off all songs in a particular album, click on the album title in the search results. This will also let you know if there are FCCs in the song, but it isn't always 100% accurate, so use caution. Look at Radiohead's <a href="/library/album/Pablo%20Honey%20/artist/Radiohead">Pablo Honey</a></p>
        <h3>Searching for Similar Artists</h3>
        <p>If you like an artist, and you want to find similar artists, the WUVT Music Search can help you discover new music. Click on an artist's name, like <a href="/library/artist/New%20Order">New Order</a>. In the Artist page, there's a Similar Artists box containing bands like Joy Division and Depeche Mode. This will help you discover new bands or find tracks you didn't even know WUVT had in its stacks.</p>
        <h3>Here are some ideas for making a themed show!</h3>
        <ul>
        <li><a href="?album=sex" onclick="return demoForm({album: 'sex'});">A sexy themed show</a></li>
        <li><a href="?label=merge&year=1995-2000" onclick="return demoForm({label: 'merge', year: '1995-2000'});">A label themed show</a></li>
        <li><a href="?genre=funk&year=1975-1990" onclick="return demoForm({genre: 'funk', year: '1975-1990'});">Classic funk</a></li>
        <li><a href="?stack=Vinyl&year=1980-1990&genre=dance" onclick="return demoForm({stack: 'Vinyl', year: '1980-1990', genre: 'dance'});">All-vinyl 80s dance show</a></li>
        </ul>
        <h3>Notes</h3>
        <p>Searching only by song title is iffy. Song title alone will return few results. Searching by song title and by an artist will return more results.</p>
        <p>Some artist's names break the Artist and Album page, or resist searching. For example, searching Peter Bjorn and John doesn't return any results. Searching Bjorn and John however, does give you Peter Bjorn and John. Go figure.</p>
    </div>
    <form id="search" method="POST" action="" >
    {% csrf_token %}
        <fieldset>
            <legend>Search fields</legend>
	        {{ form.song.label_tag }}: {{ form.song }}
	        <br />
	        {{ form.artist.label_tag }}: {{ form.artist }}
	        {{ form.album.label_tag }}: {{ form.album }}
	        {{ form.label.label_tag }}: {{ form.label }}
	        <br />
	        {{ form.year.label_tag }}: {{ form.year }}
	        {{ form.genre.label_tag }}: {{ form.genre }}
	        {{ form.stack.label_tag }}: {{ form.stack }}
	        <br />
	        {{ form.sortby.label_tag }}: {{ form.sortby }}
	        <br />
	        <input type="submit" value="Submit" />
        </fieldset>
        {% include "album_table.html" %}
        Results per page: {{ form.items_per_page }}
        Selected page: {{ form.selected_page }}
        <input type="submit" value="Go" />
    </form>
{% endblock %}
